{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Scatter Plot</title>

    <link rel="stylesheet" href="{% static 'startpage/scatter.css' %}" charset="utf-8">
</head>

<body>
    <b>Choose X Axis</b>
    <select id="choices_graphics_2d_x">
        <option value="x">BH-tSNE-x</option>
        <option value="coverage">Coverage</option>
        <!-- <option value="gc">GC %</option> -->
        <option value="contig_length">Contig Length</option>
    </select>
    <b>Choose Y Axis</b>
    <select id="choices_graphics_2d_y">
        <option value="y">BH-tSNE-y</option>
        <option value="coverage">Coverage</option>
        <!-- <option value="gc">GC %</option> -->
        <option value="contig_length">Contig Length</option>
    </select>
    <b>Choose a fill color</b>
    <select id="choices_graphics_2d_circle_color">
        <!-- <option value="cluster">Cluster</option> -->
        <option value="cluster">Contig</option>
        <option value="taxid">TaxID</option>
        <option value="superkingdom">Superkingdom</option>
        <option value="phylum">Phylum</option>
        <option value="class">Class</option>
        <option value="order">Order</option>
        <option value="family">Family</option>
        <option value="genus">Genus</option>
        <option value="species">Species</option>
    </select>
    <b>Choose a radius</b>
    <select id="choices_graphics_2d_circle_radius">
        <option value="contig_length">Contig Length</option>
        <option value="coverage">Coverage</option>
        <!-- <option value="gc">GC %</option> -->
    </select>
    <div id="chart"></div>
    <script src="https://unpkg.com/d3@5.14.2"></script>
    <script src="https://unpkg.com/d3fc@14.1.0"></script>
    <script id="tsvFile" src="{% static 'startpage/index.js' %}" charset="utf-8" tsvFile="{{object.file.url}}"></script>
</body>

</html>
