{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- <script src="//cdn.plot.ly/plotly-latest.min.js"></script> -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
</head>

<body>
    <!-- DetailView expects the context to be called object -->
    <!-- <h6>
        "{{ object.title }}" located at {{ object.file.url }} uploaded on 
        {{object.date_uploaded|date:'F d, Y' }} is being plotted below.
    </h6>-->
    <!-- 
    <div id="tester" style="width:960px;height:500px;">
    </div> -->
    <svg width='960' height='500'></svg>
    <script src="{% static 'startpage/index.js' %}">
        // d3.tsv("{{ object.file.url }}", function (data) {
        //     console.log(data[0])
        // });

        // d3.select('tester');
        // TESTER = document.getElementById('tester');
        // Plotly.newPlot( TESTER, [{
        // x: [1, 2, 3, 4, 5],
        // y: [1, 2, 4, 8, 16] }], {
        // margin: { t: 0 } } ); 
    </script>

</body>

</html>
