{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Scatter Plot</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'startpage/scatter.css' %}" charset="utf-8">
</head>

<body>
    <!-- DetailView expects the context to be called object -->
    <h6>
        "{{ object.title }}" located at {{ object.file.url }} uploaded on
        {{object.date_uploaded|date:'F d, Y' }} is being plotted below.
    </h6>
    <div class="container">
        <div class="row" id="drop_down_menus">
            <div class="col-md-2 text-center">
                <select id="choices_graphics_3d_z">
                    <option value="coverage">Coverage</option>
                    <option value="gc">GC %</option>
                    <option value="length">Length</option>
                </select>
            </div>
            <div class="col-md-2 text-center">
                <select id="bin_summary_cluster">
                    <option value="decision_tree_classifier">Decision Tree Classifier</option>
                    <option value="cluster">Cluster</option>
                    <option value="paired_end_refinement">Paired-end Refinement</option>
                </select>
            </div>
            <div class="col-md-2 text-center">
                <select id="choices_graphics_2d_x">
                    <option value="x">BH-tSNE-x</option>
                    <option value="coverage">Coverage</option>
                    <option value="GC">GC %</option>
                </select>
            </div>
            <div class="col-md-2 text-center">
                <select id="choices_graphics_2d_y">
                    <option value="y">BH-tSNE-y</option>
                    <option value="coverage">Coverage</option>
                    <option value="GC">GC %</option>
                </select>
            </div>
            <div class="col-md-2 text-center">
                <select id="taxa_by_rank">
                    <option value="kingdom">Kingdom</option>
                    <option value="phylum">Phylum</option>
                    <option value="class">Class</option>
                    <option value="order">Order</option>
                    <option value="family">Family</option>
                    <option value="genus">Genus</option>
                    <option value="species">Species</option>
                </select>
            </div>
            <div class="col-md-2 text-center">
                <button id="zoom_toggle" class="btn btn-primary">Toggle zoom</button>
                <button id="zoom_reset" class="btn btn-primary">Reset zoom</button>
                <button id="tooltip_toggle" class="btn btn-primary">Toggle Tooltips</button>
            </div>
        </div>
        <div class="row" id="big_number_stats">
            <div class="col-md-4 text-center" id="big_number_stats_marker">
                <h5>Marker Sets</h5>
            </div>
            <div class="col-md-4 text-center" id="big_number_stats_completeness">
                <h5>Completeness</h5>
            </div>
            <div class="col-md-4 text-center" id="big_number_stats_purity">
                <h5>Purity</h5>
            </div>
        </div>
        <div class="row" id="graphics">
            <div class="col-md-8 border" id="graphics_2d"></div>
            <div class="col-md-4" id="graphics_pie"></div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.min.js"></script>
    <script id="tsvFile" src="{% static 'startpage/mouseWheelZoom_ResetButton_toolTips.js' %}" charset="utf-8"
        tsvFile="{{object.file.url}}"></script>
</body>

</html>
